/* GENERAL STYLE */
header nav {
    height: 70px;
    /* debug */
    background-color: gray;
}

main {
    height: calc(100vh - 70px);
}

aside {
    height: calc(100vh - 70px);
    width: 80px;
    position: ;
    /* debug */
    background-color: blue;
}

.ms-main-container {
    width: calc(100vw - 80px);
    /* debug */
    background-color: lightgreen;
}

/* NAVBAR STYLE */
.ms-nav-container {
    height: 100%;
}

.ms-small-logo {
    width: 48px;

}

.ms-big-logo {
    display: none;    
}

.ms-nav-link .navbar {
    width: 15%;
    list-style-type: none;
}

@media all and (min-width: 992px) {

    aside {
        width: 100px;
    }

    .ms-main-container {
        width: calc(100vw - 100px);
    }

    .ms-big-logo {
        display: inline-block;
    }

    .ms-small-logo {
        display: none;
    }

}