/* GENERAL STYLE */
header {
    height: 80px;
    background-color: white;
}

aside {
    height: calc(100vh - 80px);
    width: 70px;
    background-color: #0B1D32;
}

main {
    padding-top: 80px; /* considering the height of the <header> */
}

a {
    text-decoration: none;
}

#ms-main-container {
    height: calc(100vh - 80px);
    padding-left: 70px;
}

/* NAV-BAR STYLE */
.ms-nav-logo {
    width: 2.4rem;
    height: auto;
}

#ms-blue-ban {
    background-color: #3870E0;
    min-height: 100px;
}

/* MAIN STYLE */
/* MS-NEXT-CLASS STYLE */
table img {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

/* RESPONSIVE */
@media all and (min-width: 992px) {
    aside {
        width: 110px;
    }

    #ms-main-container {
        padding-left: 110px;
    }

}

/* DEBUG  */