/* GENERAL STYLE */
nav {
    height: 70px;
    /* debug */
    background-color: gray;
}

aside {
    height: calc(100vh - 70px);
    width: 80px;
    /* debug */
    background-color: blue;
}

main {
    height: calc(100vh - 70px);
    width: calc(100vw - 80px);
    /* debug */
    background-color: azure;
}

/* NAVBAR STYLE */
.ms-nav-logo {
    width: 10%;

}

.ms-nav-logo img {
    width: 90%;

}

.ms-nav-link .navbar {
    width: 15%;
    list-style-type: none;
}

@media all and (min-width: 992px) {

    aside {
        width: 100px;
    }

    main {
        width: calc(100vw - 100px);
    }

}